{% extends 'base.html.twig' %}

{% block title %}Lists{% endblock %}

{% block body %}
    <h1>Lists</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ list.id }}</td>
            </tr>
            <tr>
                <th>Listname</th>
                <td>{{ list.listname }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ list.description }}</td>
            </tr>
            <tr>
                <th>Create_date</th>
                <td>{{ list.createDate ? list.createDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Edit_date</th>
                <td>{{ list.editDate ? list.editDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Privacy</th>
                <td>{{ list.privacy ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lists_index') }}">back to list</a>

    <a href="{{ path('lists_edit', {'id': list.id}) }}">edit</a>

    {{ include('lists/_delete_form.html.twig') }}
{% endblock %}
