{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Results for '{{ result }}' in Movies</h1>

        <div class = 'row'>
            {% for movie in movies.results %}
                <div class = 'col-lg-3'>
                    <div class="card" style="width: 18rem;">
                        <a href="{{ path('movies_details', {'id': movie.id}) }}"><img src="http://image.tmdb.org/t/p/w300{{ movie.poster_path }}" class="card-img-top" alt="..."></a>
                    </div>
                </div>
                
            {% endfor %}
                
        </div>
    </div>

    <div class="container">
        <h1>Results for '{{ result }}' in Actor</h1>

        <div class = 'row'>
            {% for actor in actors.results %}
                <div class = 'col-lg-3'>
                    <div class="card" style="width: 18rem;">
                        <a href="{{ path('actor_details', {'id': actor.id}) }}"><img src="http://image.tmdb.org/t/p/w300{{ actor.profile_path }}" class="card-img-top" alt="..."></a>
                    </div>
                </div>
            {% endfor %}
                
        </div>
    </div>

    <div class="container">
        <h1>Results for '{{ result }}' in Genres</h1>

        <div class = 'row'>
            {% for genre in genres.results %}
                <div class = 'col-lg-3'>
                    <div class="card" style="width: 18rem;">
                        <a href="{{ path('movies_details', {'id': genre.id}) }}"><img src="http://image.tmdb.org/t/p/w300{{ genre.poster_path }}" class="card-img-top" alt="..."></a>
                    </div>
                </div>
                
            {% endfor %}
                
        </div>
    </div>

{% endblock %}

{# <div class="card-body">
<h5 class="card-title">{{ movie.title }}</h5>
</div> #}