{% extends 'base.html.twig' %}



{% block body %}

<h1 class="container-fluid text-center h-50 p-3">{{ movies.original_title }}</h1>

<div class="container">
    <div class = 'row'>
            <div class = 'col-lg-3'>
            <img src="http://image.tmdb.org/t/p/w300{{ movies.poster_path }}">
            </div>
            <div class = 'col-lg-1'>
            </div>
            <div class = 'col-lg-6'>
                    <p><strong>Original Title : </strong>{{ movies.original_title }}</p>
                    <p class="lead"><strong>Synopsis : </strong>{{ movies.overview }}</p>
                    <p><strong>Original Language : </strong>{{ movies.original_language }}</p>
                    <p><strong>Release Date : </strong>{{ movies.release_date }}</p>
                    <p><strong>Total Duration : </strong>{{ movies.runtime }}</p>
                    <p><strong>Average Vote : </strong>{{ movies.vote_average }}</p>
                    
                        <button id="add_list" class="btn btn-info">Add To List</button>
                
            </div>
            
        {% block javascripts %}
        <script>
        var clickHandler = function(e){
                $.ajax({
                        url:  "{{ path('movie_new') }}",
                        type: "POST",
                        async: true,
                        data: { title : "{{ movies.original_title }}" },
                                success: function(data){
                                $('#add_list').one('click', clickHandler, alert("Film Added to your List"));},
                        error: function(){}
                        });
        e.stopImmediatePropagation();
        return false;
        }

        $('#add_list').one('click', clickHandler);

        {# window.addEventListener('load', () => {
                $("#add_list").click(function(){
                        $.ajax({
                                url: "{{ path('movie_new') }}",
                                type: "POST",
                                data: { title : "{{ movies.original_title }}" },
                                success: function(e) {
                                        console.log(e);
                                        alert("Film Added to your List");
                                },
                                error(e) {
                                        console.log(e);
                                }
                        });   
                })
        }); #}
        </script>
        {% endblock %}
            
    </div>
</div>

{% endblock %}
