{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link rel="stylesheet" href="login.style.css">
        <link rel="stylesheet" href="style.css">
{% endblock %}

{% block body %}
<div class='container text-center'>
    <h1 class="font-weight-normal text-center">Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, { 'attr': {'class': 'form-control', 'placeholder': 'Username'|trans }} ) }}
        {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'|trans }}) }}
        {{ form_row(registrationForm.plainPassword, { 'attr': {'class': 'form-control', 'placeholder': 'Password'|trans }}) }}
        {{ form_row(registrationForm.profile_desc, { 'attr': {'class': 'form-control', 'placeholder': 'Description'|trans }}) }}

        <button id="sign" class="btn btn-lg btn-primary" type="submit">
            Register
        </button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
